* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
img {
    width: 70%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}